USE [master]
GO
/****** Object:  Database [SIAF]    Script Date: 11/27/2014 22:38:55 ******/
CREATE DATABASE [SIAF] ON  PRIMARY 
( NAME = N'SIAF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SIAF.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SIAF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SIAF_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SIAF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SIAF]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 11/27/2014 22:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CLIENTE] [varchar](100) NULL,
	[RUT] [varchar](11) NULL,
	[TELEFONO_CLIENTE] [int] NULL,
	[MAIL] [varchar](50) NULL,
	[DIRECCION_CLIENTE] [varchar](50) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY NONCLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BODEGA]    Script Date: 11/27/2014 22:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BODEGA](
	[COD_BODEGA] [varchar](10) NOT NULL,
	[ID_USUARIO] [int] NULL,
 CONSTRAINT [PK_BODEGA] PRIMARY KEY NONCLUSTERED 
(
	[COD_BODEGA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO]    Script Date: 11/27/2014 22:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO](
	[ID_TIPO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_TIPO] [varchar](100) NULL,
 CONSTRAINT [PK_TIPO] PRIMARY KEY NONCLUSTERED 
(
	[ID_TIPO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 11/27/2014 22:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[ID_SUCURSAL] [int] IDENTITY(1,1) NOT NULL,
	[DIRECCION_SUCURSAL] [varchar](50) NULL,
	[TELEFONO_SUCURSAL] [int] NULL,
 CONSTRAINT [PK_SUCURSAL] PRIMARY KEY NONCLUSTERED 
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [SUCURSAL_OT_FK] ON [dbo].[SUCURSAL] 
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 11/27/2014 22:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_SUCURSAL] [int] NULL,
	[PASSWORD] [varchar](10) NULL,
	[PERFIL] [varchar](10) NULL,
	[NOMBRE_USUARIO] [varchar](50) NULL,
	[APELLIDO_USUARIO] [varchar](50) NULL,
	[USUARIO] [varchar](50) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY NONCLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [SUCURSAL_USUARIO_FK] ON [dbo].[USUARIO] 
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 11/27/2014 22:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[PRODUCTO_COD] [varchar](10) NOT NULL,
	[ID_TIPO] [int] NOT NULL,
	[COD_BODEGA] [varchar](10) NOT NULL,
	[NOMBRE_PRODUCTO] [varchar](100) NULL,
	[COD_BARRA] [varchar](100) NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY NONCLUSTERED 
(
	[PRODUCTO_COD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [BODEGA_PRODUCTOS_FK] ON [dbo].[PRODUCTO] 
(
	[COD_BODEGA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [TIPO_PRODUCTO_FK] ON [dbo].[PRODUCTO] 
(
	[ID_TIPO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OT]    Script Date: 11/27/2014 22:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OT](
	[ID_OT] [int] IDENTITY(1,1) NOT NULL,
	[ID_SUCURSAL] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[NETO_OT] [int] NULL,
	[FECHA_OT] [datetime] NULL,
	[ESTADO] [varchar](10) NULL,
 CONSTRAINT [PK_OT] PRIMARY KEY NONCLUSTERED 
(
	[ID_OT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [CLIENTE_OTS_FK] ON [dbo].[OT] 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 11/27/2014 22:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[ID_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[NUM_FAC] [int] NULL,
	[NETO_FAC] [int] NULL,
	[IVA_FAC] [int] NULL,
	[TOTAL_FAC] [int] NULL,
	[FECHA_FAC] [date] NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY NONCLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CLIENTE_FACTURA_FK] ON [dbo].[FACTURA] 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS_OT]    Script Date: 11/27/2014 22:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS_OT](
	[ID_PRODUCTO_OT] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTO_COD] [varchar](10) NOT NULL,
	[ID_OT] [int] NULL,
 CONSTRAINT [PK_PRODUCTOS_OT] PRIMARY KEY NONCLUSTERED 
(
	[ID_PRODUCTO_OT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [OT_DETALLE_FK] ON [dbo].[PRODUCTOS_OT] 
(
	[ID_OT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [PRODUCTO_DETALLE_OT_FK] ON [dbo].[PRODUCTOS_OT] 
(
	[PRODUCTO_COD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_FACTURA]    Script Date: 11/27/2014 22:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_FACTURA](
	[ID_DETALLE_FAC] [int] IDENTITY(1,1) NOT NULL,
	[ID_OT] [int] NULL,
	[ID_FACTURA] [int] NOT NULL,
 CONSTRAINT [PK_DETALLE_FACTURA] PRIMARY KEY NONCLUSTERED 
(
	[ID_DETALLE_FAC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [FACTURA_DETALLE_FK] ON [dbo].[DETALLE_FACTURA] 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RELATIONSHIP_12_FK] ON [dbo].[DETALLE_FACTURA] 
(
	[ID_OT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE]    Script Date: 11/27/2014 22:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETALLE](
	[PRODUCTO_COD_DETALLE] [varchar](10) NOT NULL,
	[PRODUCTO_COD] [varchar](10) NULL,
	[CANTIDAD_MINIMA] [int] NULL,
	[CANTIDAD_ACTUAL] [int] NULL,
	[VALOR] [int] NULL,
 CONSTRAINT [PK_DETALLE] PRIMARY KEY NONCLUSTERED 
(
	[PRODUCTO_COD_DETALLE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [DETALLE_PRODUCTO_BODEGA_FK] ON [dbo].[DETALLE] 
(
	[PRODUCTO_COD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_USUARIO_SUCURSAL__SUCURSAL]    Script Date: 11/27/2014 22:38:58 ******/
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_SUCURSAL__SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_SUCURSAL__SUCURSAL]
GO
/****** Object:  ForeignKey [FK_PRODUCTO_BODEGA_PR_BODEGA]    Script Date: 11/27/2014 22:38:58 ******/
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_BODEGA_PR_BODEGA] FOREIGN KEY([COD_BODEGA])
REFERENCES [dbo].[BODEGA] ([COD_BODEGA])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_BODEGA_PR_BODEGA]
GO
/****** Object:  ForeignKey [FK_PRODUCTO_TIPO_PROD_TIPO]    Script Date: 11/27/2014 22:38:58 ******/
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_TIPO_PROD_TIPO] FOREIGN KEY([ID_TIPO])
REFERENCES [dbo].[TIPO] ([ID_TIPO])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_TIPO_PROD_TIPO]
GO
/****** Object:  ForeignKey [FK_OT_CLIENTE_O_CLIENTES]    Script Date: 11/27/2014 22:38:58 ******/
ALTER TABLE [dbo].[OT]  WITH CHECK ADD  CONSTRAINT [FK_OT_CLIENTE_O_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[OT] CHECK CONSTRAINT [FK_OT_CLIENTE_O_CLIENTES]
GO
/****** Object:  ForeignKey [FK_OT_SUCURSAL__SUCURSAL]    Script Date: 11/27/2014 22:38:58 ******/
ALTER TABLE [dbo].[OT]  WITH CHECK ADD  CONSTRAINT [FK_OT_SUCURSAL__SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[OT] CHECK CONSTRAINT [FK_OT_SUCURSAL__SUCURSAL]
GO
/****** Object:  ForeignKey [FK_FACTURA_CLIENTE_F_CLIENTES]    Script Date: 11/27/2014 22:38:58 ******/
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_CLIENTE_F_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_CLIENTE_F_CLIENTES]
GO
/****** Object:  ForeignKey [FK_PRODUCTO_OT_DETALL_OT]    Script Date: 11/27/2014 22:38:58 ******/
ALTER TABLE [dbo].[PRODUCTOS_OT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_OT_DETALL_OT] FOREIGN KEY([ID_OT])
REFERENCES [dbo].[OT] ([ID_OT])
GO
ALTER TABLE [dbo].[PRODUCTOS_OT] CHECK CONSTRAINT [FK_PRODUCTO_OT_DETALL_OT]
GO
/****** Object:  ForeignKey [FK_PRODUCTO_PRODUCTO__PRODUCTO]    Script Date: 11/27/2014 22:38:58 ******/
ALTER TABLE [dbo].[PRODUCTOS_OT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_PRODUCTO__PRODUCTO] FOREIGN KEY([PRODUCTO_COD])
REFERENCES [dbo].[PRODUCTO] ([PRODUCTO_COD])
GO
ALTER TABLE [dbo].[PRODUCTOS_OT] CHECK CONSTRAINT [FK_PRODUCTO_PRODUCTO__PRODUCTO]
GO
/****** Object:  ForeignKey [FK_DETALLE__FACTURA_D_FACTURA]    Script Date: 11/27/2014 22:38:58 ******/
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE__FACTURA_D_FACTURA] FOREIGN KEY([ID_FACTURA])
REFERENCES [dbo].[FACTURA] ([ID_FACTURA])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE__FACTURA_D_FACTURA]
GO
/****** Object:  ForeignKey [FK_DETALLE__RELATIONS_OT]    Script Date: 11/27/2014 22:38:58 ******/
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE__RELATIONS_OT] FOREIGN KEY([ID_OT])
REFERENCES [dbo].[OT] ([ID_OT])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE__RELATIONS_OT]
GO
/****** Object:  ForeignKey [FK_DETALLE_DETALLE_P_PRODUCTO]    Script Date: 11/27/2014 22:38:58 ******/
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_DETALLE_P_PRODUCTO] FOREIGN KEY([PRODUCTO_COD])
REFERENCES [dbo].[PRODUCTO] ([PRODUCTO_COD])
GO
ALTER TABLE [dbo].[DETALLE] CHECK CONSTRAINT [FK_DETALLE_DETALLE_P_PRODUCTO]
GO
