<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<authentication mode="Forms"/>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<appSettings>
	<add key="servicioWeb.Service" value="http://localhost:51028/ServicioWebWCF/Service.asmx"/>
	</appSettings></configuration>
