<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SIAFEntities" connectionString="metadata=res://*/ModelEntidades.csdl|res://*/ModelEntidades.ssdl|res://*/ModelEntidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=R580-PC;Initial Catalog=SIAF;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>